<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>MOSO</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='pictures/moso.png')}}" type="image/png">
  <!-- <style>
    /* Custom styles to offset the container */
    .sticky-container {
      top: 56px;
    }
  </style> -->
  <style>
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
    #waypoint-nav {
      position: fixed;
      top: 20px;
      left: 20px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark bg-gradient fs-5 sticky-top">
    <div class="container-fluid">
       <a href="{{url_for('temp_home')}}" class="navbar-brand"><img src="{{url_for('static', filename='pictures/moso.png')}}" width="50" height="50"></a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('temp_home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('edit_songs') }}">Edit Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('tsank')}}">Ցանկ Ըստ Թեմա</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('tsank_A_Z')}}">Այբուբենական Ցանկ (Ա-Ֆ)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('check_past_songs')}}">Previous Sunday Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('newSundaySong')}}">New Sunday Song</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('weekdaySong')}}">New Weekday Song</a>
          </li>
        </ul>

            <div class="d-flex">
                <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
                <div class="input-group">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                        </svg>
                    </span>
                    <input class="form-control d-flex" type="text" placeholder="Search" aria-label="Search" readonly>
                </div>
            </button>
            </div>
      </div>
    </div>
  </nav>

  <div class="modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4" id="searchModalLabel">Enter Song Lyrics</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group">
                        <input type="text" name="searchLyrics" id="searchLyrics" class="form-control me-2" placeholder="Search" aria-label="Search" oninput='getResults()'>
                    </div>
                    <br>
                    <form method="post">
                        <ul class="list-group" id="searchResults"></ul>
                    </form>
                    <!-- search results -->
            </div>
                <div class="modal-footer">
                    <p class="text-start fs-5" id="hint">Խորհուրդ. Սեղմեք այն երգը,<br> Որը ցանկանում եք բացել։</p>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>

<script>
  async function getResults() {
    searchLyrics = document.getElementById('searchLyrics').value;
    let search_url = {{ url_for('songSearch', searchLyrics =searchLyrics)|tojson }} //To get the base url for search
    if (searchLyrics){
        search_url = search_url + searchLyrics;
    }
    //const foundLyrics = await fetch(search_url);
    const resultsUl = document.getElementById("searchResults");
    resultsUl.innerHTML = '';
    fetch(search_url)
        .then(response => response.json())
        //.then(text => resultsUl.innerHTML = `<li class="list-group-item"> ${text} </li>`)
        .then(text => {
            //text = Array.from(text);
            //text.forEach(manifestResults);
            
            for (const element of text){
                if (resultsUl.childNodes.length <= 10){
                  resultsUl.innerHTML += element;
                }
            }
        });

/*    console.log(search_url)
    if (!lyrics){
        resultsUl.innerHTML = `<li class="list-group-item"> No results found. </li>`;
    }
    fix to make it work later    
    console.log(resultsUl.innerHTML.text)*/
  }
</script>
<div class="" id="top">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- {% if request.url %}  {%endif%}    -->

    {% if session['user'] %}
    <button
    type="button"
    class="z-3 btn btn-danger btn-floating btn-lg rounded-circle"
    id="btn-back-to-top"
    >
    <!-- <i class="fas fa-arrow-up"></i> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up fw-bold" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
      </svg>
    </button>
    
    {% block content %}{% endblock %}

    <script type="text/javascript">{//Get the button
        let mybutton = document.getElementById("btn-back-to-top");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction();
        };
        
        function scrollFunction() {
          if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
          ) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);
        
        function backToTop() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }}</script>
    {% else %}
    {%include 'guest.html'%}
    {%endif%}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>