{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <div class="">
        <div class="container-md fw-old shadow-lg p-3 mb-5 bg-dark bg-gradient rounded">
            <h2 class="p-3">Ընտրեցեք Երգ։</h2>
            <div class="text-center mb-4" id="files">
                <form action="{{url_for('event')}}" method="POST">
                    <div class="d-flex flex-column align-items-center gap-2">
                        {% for file in files %}
                        <button type="submit" class="btn btn-primary" name="selected_file" value="{{file}}" is_dir={{ True if '.' in file else False }}>{{file}}</button>
                        <input value="{{ True if '.' in file else False }}" name="is_dir" style="display: none;">
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>


{% endblock %}