{% extends 'base.html' %}
{%block content%}

<div class="container my-5">

    <div class="row justify-content-end">
        <div class="col-auto">
            <!-- <div class="list-group position-fixed top-0 bg-light" style="right: 20px;" data-bs-toggle="#scrollspy" id="scrollspy"> -->
                <nav id="scrollspy" class="nav flex-column bg-secondary position-fixed p-2 rounded" style="right: 20px;" data-bs-toggle="#scrollspy">
                
                    <a class="nav-link btn btn-light text-dark rounded" href="#1">1</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#100">100</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#200">200</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#300">300</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#400">400</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#500">500</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#600">600</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#700">700</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#800">800</a>
                    <a class="nav-link btn btn-light text-dark rounded" href="#900">900</a>
        
                    
                    <!-- <a class="list-group-item list-group-item-action " href="#200">200</a>
                    <a class="list-group-item list-group-item-action " href="#300">300</a>
                    <a class="list-group-item list-group-item-action " href="#400">400</a>
                    <a class="list-group-item list-group-item-action " href="#500">500</a>
                    <a class="list-group-item list-group-item-action " href="#600">600</a>
                    <a class="list-group-item list-group-item-action " href="#700">700</a>
                    <a class="list-group-item list-group-item-action " href="#800">800</a>
                    <a class="list-group-item list-group-item-action " href="#900">900</a> -->

                </nav>
            <!-- </div> -->
        </div>
    </div>


        <div class="container-md fw-bold shadow p-3 mb-5 bg-secondary rounded sticky-container">
            <header class="header mb-4">
                <h1 class="text-center">Tsank</h1>
                
                <form method="post" class="form-group">
                    <div class="form-group">
                        <label for="book">Please Choose the Book:</label>
                        <select name="book" class="form-control" id="book">
                            <option value="">--Please choose an option--</option>
                            <option value="REDergaran" {{ 'selected' if request.form.get('book')=='REDergaran' }} > REDErgaran</option>
                            <option value="wordSongsIndex" {{ 'selected' if request.form.get('book')=='wordSongsIndex' }}>Old Book</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="query" class="form-label">Search Query:</label>
                        <input type="text" id="query" name="query" value="{{ query }}" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="attribute" class="form-label">Search Attribute:</label>
                        <select id="attribute" name="attribute" class="form-control">
                            <option value="all" {{ 'selected' if attribute=='all' }}>All Attributes</option>
                            <option value="Title" {{ 'selected' if attribute=='Title' }}>Title</option>
                            <option value="latestVersion" {{ 'selected' if attribute=='latestVersion' }}>Latest Version</option>
                            <option value="key" {{ 'selected' if attribute=='key' }}>Key</option>
                            <option value="speed" {{ 'selected' if attribute=='speed' }}>Speed</option>
                            <option value="timeSig" {{ 'selected' if attribute=='timeSig' }}>Time Signature</option>
                            <option value="style" {{ 'selected' if attribute=='style' }}>Style</option>
                            <option value="song_type" {{ 'selected' if attribute=='song_type' }}>Song Type</option>
                            <option value="Comments" {{ 'selected' if attribute=='Comments' }}>Comments</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-dark shadow border border-dark-subtle rounded-3">Submit</button>
                </form>
            </header>
        </div>
        {% if not table_date %}
        <div class="table-responsive-md fw-bold rounded" data-bs-spy="scroll" data-bs-target="#scrollspy" data-bs-smooth-scroll="true" tabindex="0">
            <table class="table table-striped table table-hover">
                <thead>
                    <tr>
                        <th>SongNum</th>
                        <th>Title</th>
                        <th>Latest Version</th>
                        <th>Key</th>
                        <th>Speed</th>
                        <th>Time Signature</th>
                        <th>Style</th>
                        <th>Song Type</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">
                        <input type="hidden" name="book" value="{{book}}">
                        {%if table_data%}
                        {% for row, attr in table_data.items() %}
                            <tr id="{{row}}">
                                
                                <td><a class="btn btn-primary" href="{{url_for('display_song',book=book,songnum=row)}}">{{row}}</a></td>
                                <td data-bs-toggle="tooltip" data-bs-title="Song Title">{{attr['Title']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Latest Version">{{attr['latestVersion']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Key">{{attr['key']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Speed">{{attr['speed']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Time Signature">{{attr['timeSig']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Song Piano Style">{{attr['style']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Song Type">{{attr['song_type']}}</td>
                                <td data-bs-toggle="tooltip" data-bs-title="Song Comments">{{attr['Comments']}}</td>
                            </tr>
                        {% endfor %}
                        {%endif%}
                    </form>
                </tbody>
            </table>
        </div>
        {%endif%}
        <script>
            // Initialize all tooltips
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>
    </div>
{%endblock%}