{% extends 'base.html' %}
{%block content%}
{% if session['user']['userinfo']['admin'] %}
<div class="container-md fw-bold shadow p-3 mb-5 bg-body-tertiary rounded" id="SongNumInput">
  <div class="row align-items-start justify-content-center ">
    <h2 class="text-center">Please Choose a Given Parameter:</h2>
    <div class="row justify-content-center" id="SongSection">

      <div class="col-auto">
        <div class="">

          <input class="btn-check" type="checkbox" id="only_first_two_songs" value="only_first_two_songs"
            onchange="document.getElementById('only_worship_songs').checked = false; document.getElementById('only_last_two_songs').checked = false;">
          <label class="btn btn-dark shadow border border-dark-subtle rounded-3 fs-5" for="only_first_two_songs">
            First Two Songs
          </label>

        </div>
      </div>
      <div class="col-auto">
        <div class="">

          <input class="btn-check" type="checkbox" id="only_worship_songs" value="only_worship_songs"
            onchange="document.getElementById('only_first_two_songs').checked = false; document.getElementById('only_last_two_songs').checked = false;">
          <label class="btn btn-dark shadow border border-dark-subtle rounded-3 fs-5" for="only_worship_songs">
            Worship Songs</label>

        </div>
      </div>
      <div class="col-auto">
        <div class="">

          <input class="btn-check" type="checkbox" id="only_last_two_songs" value="only_last_two_songs"
            onchange="document.getElementById('only_first_two_songs').checked = false; document.getElementById('only_worship_songs').checked = false;">
          <label class="btn btn-dark shadow border border-dark-subtle rounded-3 fs-5" for="only_last_two_songs">
            Last Two Songs</label>

        </div>
      </div>

    </div>
  </div>
  <p class="text-end" id="hint-am">
    Խորհուրդ. Սեղմեք այն երգը որը ցանկանում եք բացել։
  </p>
  <p class="text-end" id="hint-en">
    Hint: Just click the song you want to open.
  </p>
</div>

<div class="container-md col-auto vstack gap-2" id="Results">
</div>

<div class="container-md">
  <ol class="list-group list-group-numbered shadow p-3 mb-5 bg-body-tertiary rounded" id="song_order"
    style="display: none;">
  </ol>
</div>

<script>
  document.getElementById('SongSection').onchange = function() {
    // var first_two_songs = document.getElementById('only_first_two_songs').checked;
    // var worship_songs = document.getElementById('only_worship_songs').checked;
    // var last_two_songs = document.getElementById('only_last_two_songs').checked;
    // if (first_two_songs){document.getElementById('only_worship_songs').checked = false; document.getElementById('only_last_two_songs').checked = false; }
    // if (worship_songs){document.getElementById('only_first_two_songs').checked = false; document.getElementById('only_last_two_songs').checked = false; }
    // if (last_two_songs){document.getElementById('only_first_two_songs').checked = false; document.getElementById('only_worship_songs').checked = false; }
    getSundayRecs();
  }
  function blinking_placeholder() {
    const song_order = document.getElementById('song_order');
    song_order.innerHTML = ''
    const elem = `      <li class="list-group-item">
      <div class="placeholder-glow ">
        <p aria-hidden="true">
          <span class="placeholder col-9"></span>
        </p>
        <p aria-hidden="true">
          <span class="placeholder col-6"></span>
        </p>
    </div>`
    array = [1, 2, 3, 4, 5, 6];
    array.forEach(element => {
      song_order.innerHTML += elem
    })
    song_order.style.display = 'block'
  }
  async function getSundayRecs() {
    blinking_placeholder();
    const songOrder = document.getElementById('song_order');
    var first_two_songs = document.getElementById('only_first_two_songs').checked;
    var worship_songs = document.getElementById('only_worship_songs').checked;
    var last_two_songs = document.getElementById('only_last_two_songs').checked;
    const url = window.location.href;
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
        body: JSON.stringify({
          'only_first_two_songs': first_two_songs,
          'only_worship_songs': worship_songs,
          'only_last_two_songs': last_two_songs
        })
      })
      .then(response =>response.text())
      // .then(text =>{
      //   text = JSON.parse(text);
      //   // text = Array.from(text)
      //   text.forEach(element => {
      //     Results.innerHTML += `<div class="d-flex justify-content-center"><a class="btn btn-outline-primary fs-5" href="/song/${element[0]}/${element[1]}">${element[1]}: ${element[2]}</a></div>`
      //   });
      //   // Results.innerHTML += text
      //   console.log(text)
      // })
      .catch((error) => {
        console.error('Error:', error);
      })
      .then(text => {
        const songs = Object.values(JSON.parse(text));
        songOrder.innerHTML = ''
        console.log(songs)
        // Store the song text as we generate it
        currentSongText = songs.map(element => `${element['songnum']}: ${element['title']}`).join('\n');

        songs.forEach(element => {
          songOrder.innerHTML += `
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">${element['book']}: ${element['songnum']}: ${element['title']}
        </div>
          This song was last sang on ${element['date']} which was a ${element['weekday']}
          <br>
          <a class="btn btn-outline-primary shadow border border-primary-subtle" href="/song/${element['book']}/${element['songnum']}">
            Open Song
          </a>
      </div>
    </li>`
        });
      })
  }

</script>
{% else %}
{% include 'noAccess.html' %}
{% endif %}
{%endblock%}