{% extends 'base.html' %}
{%block content%}
<br>
<!-- Modal trigger button -->
<!-- <button
    type="button"
    class="btn btn-primary btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#modalId"
>
    Launch
</button> -->


<div class="container-sm">
    <div class="card">
        <div class="card-body text-center">
            <div class="d-flex justify-content-between">
                <div class="d-grid gap-2">
                    <a
                        name="back-button"
                        id="back-button"
                        class="btn btn-primary"
                        href="{{url_for('playlist')}}"
                        role="button"
                        ><i class="bi bi-arrow-left">
                            Go Back
                        </i></a
                    >
                    
                </div>

                <div class="d-grid gap-2 col-2">
                    <button
                        type="button"
                        name="add-playlist"
                        id="add-playlist"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#modalId"
                        >
                        <i class="bi bi-music-note-list">Add Playlist</i>
                    </button> 
                </div>
            </div>
            <h4 class="card-title ">Your Playlists</h4>
            <p class="card-text">Choose one or make a new one</p>
        </div>
        <!-- JJINJA logic to insert user data -->
        <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item">
                <p class="text-muted">This is just a preview</p>
            </li> -->
            <li class="list-group-item">Worship
                <!-- list-group-flush list-group-horizontal -->

                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item">571 God Will Make a Way</li>
                    <li class="list-group-item">Worship</li>
                    <li class="list-group-item">Worship</li>
                    <li class="list-group-item">Worship</li>

                </ul>

                Code: 123asd

            </li>
            <li class="list-group-item">Easy Worship</li>
            <li class="list-group-item">Favorite Worship</li>
            <li class="list-group-item">Moses Said So</li>
        </ul>
    </div>

</div>
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
    aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Add Playlist
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="playlist-name" class="form-label">Playlist Name:</label>
                    <input
                        type="text"
                        class="form-control"
                        name="playlist-name"
                        id="playlist-name"
                        aria-describedby="helpId"
                        placeholder="playlist"
                        maxlength="25"
                    />
                    <small id="helpId" class="form-text text-muted">Please enter the playlist name</small>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Optional: Place to the bottom of scripts -->
<script>
    const myModal = new bootstrap.Modal(
        document.getElementById("modalId"),
        options,
    );
</script>
<script>
    // add_playlist_button = document.getElementById("add-playlist")
    // add_playlist_button.addEventListener('click', () => {
    //     alert("HI")
    // })
</script>
{%endblock%}