<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f8f8f8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('song_info') }}">Home</a>
        </div>
    </nav>
    {% if session %}
    <div class="container my-5">
        <header class="header mb-4">
            <h1 class="text-center">Please Choose the Book:</h1>
            <form method="post" class="form-group">
                <div class="form-group">
                    <select name="book" class="form-control">
                        <option value="">--Please choose an option--</option>
                        <option value="REDergaran" {{ 'selected' if request.form.get('book')=='REDergaran' }}>RED
                            Ergaran</option>
                        <option value="wordSongsIndex" {{ 'selected' if request.form.get('book')=='wordSongsIndex' }}>
                            Old Book</option>
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="query" class="form-label">Search Query:</label>
                    <input type="text" id="query" name="query" value="{{ query }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="attribute" class="form-label">Search Attribute:</label>
                    <select id="attribute" name="attribute" class="form-control">
                        <option value="all" {{ 'selected' if attribute=='all' }}>All Attributes</option>
                        <option value="Title" {{ 'selected' if attribute=='Title' }}>Title</option>
                        <option value="latestVersion" {{ 'selected' if attribute=='latestVersion' }}>Latest Version
                        </option>
                        <option value="key" {{ 'selected' if attribute=='key' }}>Key</option>
                        <option value="speed" {{ 'selected' if attribute=='speed' }}>Speed</option>
                        <option value="timeSig" {{ 'selected' if attribute=='timeSig' }}>Time Signature</option>
                        <option value="style" {{ 'selected' if attribute=='style' }}>Style</option>
                        <option value="song_type" {{ 'selected' if attribute=='song_type' }}>Song Type</option>
                        <option value="Comments" {{ 'selected' if attribute=='Comments' }}>Comments</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </header>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>SongNum</th>
                    <th>Title</th>
                    <th>Latest Version</th>
                    <th>Key</th>
                    <th>Speed</th>
                    <th>Time Signature</th>
                    <th>Style</th>
                    <th>Song Type</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for row, attr in table_data.items() %}
                <tr>
                    <td>{{row}}</td>
                    <td>{{attr['Title']}}</td>
                    <td>{{attr['latestVersion']}}</td>
                    <td>{{attr['key']}}</td>
                    <td>{{attr['speed']}}</td>
                    <td>{{attr['timeSig']}}</td>
                    <td>{{attr['style']}}</td>
                    <td>{{attr['song_type']}}</td>
                    <td>{{attr['Comments']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        {% include 'guest.html' %}
    {% endif %}
</body>

</html>