{%extends 'base.html'%}
{%block content%}
<div class="container-md">
    <div class="row algin-items-start">
        <div class="fw-bold shadow p-2 bg-body-tertiary rounded">
            <label class="">Song Toolbar:</label>
            <!-- <nav class="navbar navbar-expand-lg rounded-3 fs-5" id="toolbar"> -->
                <button class="btn btn-primary shadow border border-primary-subtle rounded-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPastSongs"
                    aria-controls="offcanvasPastSongs">
                    Check Past Songs
                </button>
                <button class="btn btn-primary shadow border border-primary-subtle rounded-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSimilarSongs"
                    aria-controls="offcanvasSimilarSongs">
                    Similar Songs
                </button>
            <!-- </nav> -->
        </div>
    </div>
    <br>
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header"> <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                focusable="false">
                <!-- <img src="{{url_for('static', filename='pictures/moso.png')}}" width="20" height="20" class="rounded me-2"> -->
                
                <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <strong class="me-auto">System</strong> <small>Just Now</small> <button type="button"
                class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> </div>
        <div class="toast-body"> You can now open past sunday songs by going to the 'past songs' button, </div>
    </div>
    <br>
    <h3 class="text-center  mb-4"> {{ lyrics|safe }} </h3>
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasPastSongs" aria-labelledby="offcanvasPastSongsLabel">
        <div class="offcanvas-header">
            <div class="list-group list-group-flush">
                <li  class="list-group-item"><h5 class="offcanvas-title" id="offcanvasPastSongsLabel">Check Past Songs</h5></li>
                <p class="list-group-item text-secondary" id="hint">Խորհուրդ. Սեղմեք այն երգը, որը ցանկանում եք բացել։</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {%if past_songs %}
            {%for songs in past_songs%}
            <form method="post">
                <div class="list-group d-flex">
                    <a class="list-group-item list-group-item-action active" aria-current="true" name="docx" href="{{url_for('ServiceSongOpen',WordDoc=songs['Filename/Date'])}}">{{songs['Filename/Date']}}</a>
                    
                    {% for song in songs['songs'] %}

                        {%if song[1] %}
                            {{song|safe}}
                        <!-- <input type="submit" class="list-group-item list-group-item-action" value="SongNum: {{song[1]}}, Book: {{song[0]}}, Title: {{song[2]}}" name="SongNumTuple"> -->
                        {% endif %}

                    {%endfor%}
                
                </div>
                <br>
            </form>
            {%endfor%}
            <p class="text-start text-secondary" id="hint">
                Hint: Just click the song you want to open.
            </p>
            <p class="text-start text-secondary" id="hint">
                Խորհուրդ. Ուղակի սեղմեք այն երգը, որը ցանկանում եք բացել։
            </p>
            {%else%}
            <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                No Past Songs Found
            </p>
            {%endif%}
        </div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasSimilarSongs" aria-labelledby="offcanvasSimilarSongsLabel">
        <div class="offcanvas-header">
            <div class="list-group list-group-flush">
                <li  class="list-group-item"><h5 class="offcanvas-title" id="offcanvasSimilarSongsLabel">Check Similar Songs</h5></li>
                <li class="list-group-item"> <p> This tool helps you see which songs are most often sung together </p> </li>
                <p class="list-group-item text-light" id="hint">Խորհուրդ. Սեղմեք այն երգը, որը ցանկանում եք բացել։</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {%if past_songs %}
            
            <form method="post">
                <div class="list-group d-flex">
                    <!-- <table class="table table-borderless table-sm text-center"> -->
                    <div class="row justify-content-start fw-bold shadow p-3 mb-5 bg-body-tertiary rounded">
                    {% if similar_songs%}
                    {% for song in similar_songs %}

                        {%if song[1] %}
                           <div class="btn btn-dark shadow border border-dark-subtle rounded-3 fs-5"> {{song|safe}} </div>
                        <!-- <input type="submit" class="list-group-item list-group-item-action" value="SongNum: {{song[1]}}, Book: {{song[0]}}, Title: {{song[2]}}" name="SongNumTuple"> -->
                        {% endif %}

                    {%endfor%}
                    {%endif%}
                </div>
                    <!-- </table> -->
                </div>
                <br>
            </form>
            
            <p class="text-start text-secondary" id="hint">
                Hint: Just click the song you want to open.
            </p>
            <p class="text-start text-secondary" id="hint">
                Խորհուրդ. Ուղակի սեղմեք այն երգը, որը ցանկանում եք բացել։
            </p>
            {%else%}
            <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                No Similar Songs Found
            </p>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}