{%extends 'base.html'%}
{%block content%}
<div class="container-md">
    <div class="row algin-items-start">
        <div class="fw-bold shadow p-2 bg-body-tertiary rounded">
            <label class="">Song Toolbar:</label>
            <!-- <nav class="navbar navbar-expand-lg rounded-3 fs-5" id="toolbar"> -->
                <button class="btn btn-primary shadow border border-primary-subtle rounded-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasPastSongs"
                    aria-controls="offcanvasPastSongs">
                    Check Past Songs
                </button>
                <button class="btn btn-primary shadow border border-primary-subtle rounded-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSimilarSongs"
                    aria-controls="offcanvasSimilarSongs">
                    Similar Songs
                </button>
            <!-- </nav> -->
        </div>
    </div>
    <br>
    <div id="toastdiv" class="toast-container position-static p-3 bg-warning-subtle border border-warning-subtle rounded-4">
        <div id="toastInfo" class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header"> <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <!-- <img src="{{url_for('static', filename='pictures/moso.png')}}" width="20" height="20" class="rounded me-2"> -->
                    
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong class="me-auto">System</strong> <small>Just Now</small> <button type="button"
                    class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> </div>
            <div class="toast-body"> <p>You can now open past service songs' by going to the 'past songs' button, and clicking any button ending in '.docx'</p></div>
        </div>
        <!-- <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header"> <svg class="bd-placeholder-img rounded me-2" width="20" height="20"
                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#007aff"></rect>
                </svg>
                <strong class="me-auto">System</strong> <small>Just Now</small> <button type="button"
                    class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button> </div>
            <div class="toast-body"> <p>Այժմ կարող եք բացել անցյալ ծառայության երգերը՝ անցնելով «անցյալ երգեր» կոճակը և սեղմելով «.docx» վերջացող ցանկացած կոճակ:</p></div>
        </div> -->
    </div>
    <script>
        //To hide the yellow bg for the tost notif
        const myToast = document.getElementById('toastInfo');
        myToastDiv = document.getElementById('toastdiv');
        myToast.addEventListener('hidden.bs.toast', () => {            
            myToastDiv.style.display = "none";
        })
    </script>
    <br>
    
    <h3 class="text-center  mb-4"> {{ lyrics|safe }} </h3>
    
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasPastSongs" aria-labelledby="offcanvasPastSongsLabel">
        <div class="offcanvas-header">
            <div class="list-group list-group-flush">
                <li  class="list-group-item"><h5 class="offcanvas-title" id="offcanvasPastSongsLabel">Check Past Songs</h5></li>
                <p class="list-group-item text-secondary" id="hint">Խորհուրդ. Սեղմեք այն երգը, որը ցանկանում եք բացել։</p>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {%if past_songs %}
            {%for songs in past_songs%}
            <form method="post">
                <div class="list-group d-flex">
                    <a class="list-group-item list-group-item-action active" aria-current="true" name="docx" href="{{url_for('ServiceSongOpen',WordDoc=songs['Filename/Date'])}}">{{songs['Filename/Date']}}</a>
                    
                    {% for song in songs['songs'] %}

                        {%if song[1] %}
                            {{song|safe}}
                        <!-- <input type="submit" class="list-group-item list-group-item-action" value="SongNum: {{song[1]}}, Book: {{song[0]}}, Title: {{song[2]}}" name="SongNumTuple"> -->
                        {% endif %}

                    {%endfor%}
                
                </div>
                <br>
            </form>
            {%endfor%}
            <p class="text-start text-secondary" id="hint">
                Hint: Just click the song you want to open.
            </p>
            <p class="text-start text-secondary" id="hint">
                Խորհուրդ. Ուղակի սեղմեք այն երգը, որը ցանկանում եք բացել։
            </p>
            {%else%}
            <p class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
                No Past Songs Found
            </p>
            {%endif%}
        </div>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasSimilarSongs" aria-labelledby="offcanvasSimilarSongsLabel">
        <div class="offcanvas-header">
            <div class="list-group list-group-flush">
                <li  class="list-group-item"><h5 class="offcanvas-title" id="offcanvasSimilarSongsLabel">Check Similar Songs</h5></li>
                <li class="list-group-item"> <p> Սա օգնում է ձեզ տեսնել, թե որ երգերն ունեն նույն հատկանիշները, ինչ այս երգը: </p> </li>
                <!-- <p class="list-group-item text-light" id="hint">Խորհուրդ. Սեղմեք այն երգը, որը ցանկանում եք բացել։</p> -->
                <div class="btn-group" role="group" onchange="tsank_attribute_search()">
                    <input type="checkbox" class="btn-check" id="Key">
                    <label for="Key" class="btn btn-outline-primary">Key</label>
                    <input type="checkbox" class="btn-check" id="Speed">
                    <label for="Speed" class="btn btn-outline-primary">Speed</label>
                    <input type="checkbox" class="btn-check" id="Time_Signature">
                    <label for="Time_Signature" class="btn btn-outline-primary">Time Signature</label>
                </div>
                <div class="btn-group" role="group" onchange="tsank_attribute_search()">
                    <input type="checkbox" class="btn-check" id="Style">
                    <label for="Style" class="btn btn-outline-primary">Style</label>
                    <input type="checkbox" class="btn-check" id="Song_Type">
                    <label for="Song_Type" class="btn btn-outline-primary">Song Type</label>
                </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="songstable" class="table-responsive fw-bold" data-bs-spy="scroll" data-bs-target="#scrollspy" data-bs-smooth-scroll="true" data-bs-offset="0" tabindex="0" > <!-- style="overflow: auto; position: relative;"> -->
            </div>
        </div>
    </div>
</div>
<script>
    async function getAttributes() {
        // Get the current URL
        const currentUrl = window.location.href;

        // Construct the new URL by appending "/attributes"
        const attributesUrl = `${currentUrl}/attributes`;

        // Use the constructed URL in the fetch call
        fetch(attributesUrl)
            .then(response => response.json())
            .then(data => {
                console.log(data)
                songattrs = data
            })
            .catch(error => console.error('Error:', error));

    }
    getAttributes()

    async function tsank_attribute_search(){
        // TODO:
        // Need to find a way to return the table data when searching
        // Need to transfer processes to fetch api, half fetch, half submitting a form

        // make it a req to a pyth func specifically for attr searching
        
        // attribute = can
        
        function spinner() {
            songstable.innerHTML='<div class="d-flex justify-content-center "> <div class="spinner-border m-5" role="status"> <span class="visually-hidden">Loading...</span> </div> </div>'
               
        }
        function search(){
            spinner() // show spinner while searching
            fetch('/attributeSearch',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    // 'session': {{session}},
                    'attributes': attributes,
                    'songattrs': songattrs
                    // 'book': book.value,
                    // 'query': query.value
                })
            })
            .then(response => response.json())
            .then(text => {
                console.log(attributes)
                console.log(text)
                const table = document.createElement('table'); // table
                table.classList.add('table')//, 'table-striped', 'table-hover'); // table class
                const thead = document.createElement('thead');
                const tr = document.createElement('tr');
                let ths = ['Book','SongNum', 'Title', 'Latest Version', 'Key', 'Speed', 'Time Signature', 'Style', 'Song Type', 'Comments'];
                for (const th of ths) {
                    const thEl = document.createElement('th');
                    thEl.textContent = th;
                    tr.appendChild(thEl);
                }
                thead.appendChild(tr);
                table.appendChild(thead);
                const tbody = document.createElement('tbody');
                tbody.id = "tablebody";
                table.appendChild(tbody);
                document.getElementById('songstable').innerHTML = '';
                document.getElementById('songstable').appendChild(table);

                // tablebody.textContent='' //clear the table
                for (const [book, indivBook] of Object.entries(text)) {
                    
                
                // for (const [key, value] of Object.entries(text)) {
                for (const [key, value] of Object.entries(indivBook)) {
                    const row = document.createElement('tr');
                    row.setAttribute('id', key);
                    // if (attribute.value == 'Full_Text' && query.value != ''){
                    row.innerHTML = `
                        <td data-bs-toggle="tooltip" data-bs-title="Book">${ book || ''}</td>
                        <td><a class="btn btn-outline-primary" href="/song/${value['book']}/${key}">${key}</a></td>
                        <td data-bs-toggle="tooltip" data-bs-title="Song Title">${value['Title'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Latest Version">${value['latestVersion'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Key">${value['key'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Speed">${value['speed'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Time Signature">${value['timeSig'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Song Piano Style">${value['style'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Song Type">${value['song_type'] || ''}</td>
                        <td data-bs-toggle="tooltip" data-bs-title="Song Comments">${value['Comments'] || ''}</td>
                    `;
                    tablebody.appendChild(row);
                }
            };
                
            });
            
        }
    
        
        //attribute = [Key.value, Speed.value, Style.value, Song_Type.value, Time_Signature.value];
        attributes = {
            'key' : Key.checked,
            'speed' : Speed.checked,
            'style' : Style.checked,
            'song_type' : Song_Type.checked,
            'timeSig' : Time_Signature.checked

        }
        
        if (Key.checked || Speed.checked || Style.checked || Song_Type.checked || Time_Signature.checked){
            search();
        }
        // else{
        //     tablebody.tablebody = '';
        // }
        // search();
        

    
    }
    // tsank_attribute_search() // called when the page loads bc sometimes a user is coming back from a result and this should be called

</script>

<script>
    // Function to check if the viewport is mobile-sized
    function checkViewportWidth() {
        if (window.innerWidth <= 840) {
            // Code to run for mobile devices
            console.log("Mobile device detected");

            // Initialize the offcanvas element and disable scroll
            const offcanvasElement = new bootstrap.Offcanvas('#offcanvasSimilarSongs');
            offcanvasElement._config.scroll = false;
            offcanvasElement._config.backdrop = true;
        } else {
            console.log("Non-mobile device detected");
            // You can add any non-mobile specific code here if needed
        }
    }

    // Initial check when the page loads
    checkViewportWidth();

    // Add event listener for when the window is resized
    window.addEventListener('resize', checkViewportWidth);

</script>

{%endblock%}