<div class="table-responsive-md fw-bold rounded">
    <table class="table table-striped table table-hover ">
        <thead class="">
            <tr>
                <th>SongNum</th>
                <th>Title</th>
                <th>Latest Version</th>
                <th>Key</th>
                <th>Speed</th>
                <th>Time Signature</th>
                <th>Style</th>
                <th>Song Type</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <form method="post">
                <input type="hidden" name="book" value="{{book}}">
                {%if table_data%}
                {% for row, attr in table_data.items() %}
                <tr>
                    <td><input type="submit" name="SongNum" value="{{row}}" class="btn btn-primary"></td>
                    <td>{{attr['Title']}}</td>
                    <td>{{attr['latestVersion']}}</td>
                    <td>{{attr['key']}}</td>
                    <td>{{attr['speed']}}</td>
                    <td>{{attr['timeSig']}}</td>
                    <td>{{attr['style']}}</td>
                    <td>{{attr['song_type']}}</td>
                    <td>{{attr['Comments']}}</td>
                </tr>
                {% endfor %}
                {%endif%}
            </form>
        </tbody>
    </table>
</div>