<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widt, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Tsank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html {scroll-behavior: smooth;}
        body {
            background-color: #f8f8f8;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('song_info') }}">Home</a>
            <a class="navbar-brand" href="{{url_for('searching')}}">Song Search</a>
        </div>
    </nav>
    <br>
    <form action="" method="post" style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-lg" >Back To Search</button>
    </form>
    <br>
    {% if session %}
    <div class="container-md">
        <br>
        <h2 class="text-center text-primary mb-4"> {{temmas|safe}} </h2>
        <h2 class="text-center text-primary mb-2"> {{temmalist|safe}} </h2>
        <br>
        <br>
    </div>
    {% else %}
    <h1 class="text-sm-center">Welcome Guest, Please Login.</h1>
    <h1><a href="/login" class="btn btn-primary me-2" style="text-align: center;">Login</a></h1>
    {% endif %}
    
</body>