<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f8f8f8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>

    <div class="container my-5">
        <form method="post" class="form-group">
            <h1 class="text-center mb-4">Please Choose a Book:</h1>
            <select name="book" class="form-control">
                <option value="ergaran">Երգարան Word Files</option>
                <option value="wordSongsIndex">Old Book</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

        <h1 class="text-center mt-5">Ցանկ Ըստ Թեմա</h1>
        <form method="post" class="d-flex flex-wrap justify-content-center mt-4">
            <input type="submit" value="ԱՍՏՎԱԾ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՍՈՒՐԲ ՀՈԳԻ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀԱՎԱՏՔ ԵՎ ՎՍՏԱՀՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՔԱՋՈւԹՅՈւՆ ԵՎ ՀԱՂԹՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՈւՐԱԽՈւԹՅՈւՆ ԵՎ ՑՆԾՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՊՍԱԿ, ՀԱՐՍԱՆԻՔ, ԸՆՏԱՆԻՔ ԵՎ ՀԱՐՍ ԵԿԵՂԵՑԻ" name="temma"
                class="btn btn-outline-primary m-2">
            <input type="submit" value="ՄԱՆԿԱՆՑ ԵՐԳԵՐ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՍՈւՐԲ ԾՆՈւՆԴ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀԻՍՈւՍ ՔՐԻՍՏՈՍ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԲԱՐԻ ՀՈՎԻՎ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀԱՂՈՐԴՈւԹՅՈւՆ (ոտնլվա)" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՉԱՐՉԱՐԱՆՔ, ԽԱՉ, ՄԱՀ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԱՐՅՈւՆ, ՔԱՎՈւԹՅՈւՆ ԵՎ ԹՈՂՈւԹՅՈւՆ" name="temma"
                class="btn btn-outline-primary m-2">
            <input type="submit" value="ՍՐԲՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԵՂԲԱՅՐԱՍԻՐՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՇԱՐԱԿԱՆՆԵՐ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀԱՐՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՇՆՈՐՀՔ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀՈԳԵՎՈՐ ՓՈՐՁՈւԹՅՈւՆ, ՊԱՅՔԱՐ, ՊԱՏԵՐԱԶՄ" name="temma"
                class="btn btn-outline-primary m-2">
            <input type="submit" value="ԱՊԱՇԽԱՐՈւԹՅՈւՆ, ԶՂՋՈւՄ, ԴԱՐՁ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՄԱՀ, ՀԱՎԻՏԵՆՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԳԱԼՈւՍՏ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԱՎԵՏԱՐԱՆՉՈւԹՅՈւՆ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՓԱՌԱԲԱՆՈւԹ. ԵՐԿՐՊԱԳՈւԹ. ՊԱՇՏԱՄՈւՆՔ" name="temma"
                class="btn btn-outline-primary m-2">
            <input type="submit" value="ՔՐԻՍՏՈՆԵԱԿԱՆ ԿՅԱՆՔ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՍԵՐ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ՀՐԱՎԵՐ, ՀՈՐԴՈՐ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԱՂՈԹՔ, ԽՆԴՐՎԱԾՔ" name="temma" class="btn btn-outline-primary m-2">
            <input type="submit" value="ԱՍՏԾՈ ԽՈՍՔ" name="temma" class="btn btn-outline-primary m-2">
        </form>
    </div>
</body>

</html>