{% extends 'base.html' %}
{%block content%}


<div class="container-flex">


  <div class="d-flex justify-content-center fw-bold shadow p-3 mb-5 bg-body-tertiary rounded" id="Այբբենական Ցանկ">
    <div class="container-md text-center fs-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="text h2">Red Ergaran-i Այբուբենական Ցանկ (Ա-Ֆ)</p>
        </li>
      </ul>

      <p class="text fs-2">
        <a href="{{url_for('tsank_letter', book='New', letter='Ա')}}">Ա</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Բ')}}">Բ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Գ')}}">Գ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Դ')}}">Դ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ե')}}">Ե</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Զ')}}">Զ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Է')}}">Է</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ը')}}">Ը</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Թ')}}">Թ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ժ')}}">Ժ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ի')}}">Ի</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Լ')}}">Լ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Խ')}}">Խ</a>
        <br>
        <a href="{{url_for('tsank_letter', book='New', letter='Ծ')}}">Ծ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Կ')}}">Կ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Հ')}}">Հ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ձ')}}">Ձ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ղ')}}">Ղ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ճ')}}">Ճ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Մ')}}">Մ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Յ')}}">Յ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ն')}}">Ն</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Շ')}}">Շ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ո')}}">Ո</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Չ')}}">Չ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Պ')}}">Պ</a>
        <br>
        <a href="{{url_for('tsank_letter', book='New', letter='Ջ')}}">Ջ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ս')}}">Ս</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Վ')}}">Վ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Տ')}}">Տ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ց')}}">Ց</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ու')}}">Ու</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Փ')}}">Փ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Ք')}}">Ք</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Եւ')}}">Եւ</a>
        <a href="{{url_for('tsank_letter', book='New', letter='Օ')}}">Օ</a>
      </p>
    </div>
  </div>
  <div class="d-flex justify-content-center fw-bold shadow p-3 mb-5 bg-body-tertiary rounded">


    <div class="container-md text-center fs-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="text h2">Old Ergaran-i Այբուբենական Ցանկ (Ա-Ֆ)</p>
        </li>
      </ul>

      <p class="text fs-2">
        <a href="{{url_for('tsank_letter', book='Old', letter='Ա')}}">Ա</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Բ')}}">Բ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Գ')}}">Գ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Դ')}}">Դ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ե')}}">Ե</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Զ')}}">Զ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Է')}}">Է</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ը')}}">Ը</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Թ')}}">Թ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ժ')}}">Ժ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ի')}}">Ի</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Լ')}}">Լ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Խ')}}">Խ</a>
        <br>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ծ')}}">Ծ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Կ')}}">Կ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Հ')}}">Հ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ձ')}}">Ձ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ղ')}}">Ղ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ճ')}}">Ճ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Մ')}}">Մ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Յ')}}">Յ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ն')}}">Ն</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Շ')}}">Շ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ո')}}">Ո</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Չ')}}">Չ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Պ')}}">Պ</a>
        <br>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ջ')}}">Ջ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ս')}}">Ս</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Վ')}}">Վ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Տ')}}">Տ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ց')}}">Ց</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ու')}}">Ու</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Փ')}}">Փ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Ք')}}">Ք</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Եւ')}}">Եւ</a>
        <a href="{{url_for('tsank_letter', book='Old', letter='Օ')}}">Օ</a>
      </p>
    </div>
  </div>
</div>
{%endblock%}