<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tsank</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f8f8f8;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>

    <div class="container my-5">
        <form method="post" class="form-group">
            <h1 class="text-center mb-4">Please Choose a Book:</h1>
            <select name="book" class="form-control">
                <option value="ergaran">Երգարան Word Files</option>
                <option value="wordSongsIndex">Old Book</option>
                <option value="pptsonginfo">Old Book PPT</option>
            </select>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

        {% if table_data %}
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>SongNum/Title</th>
                </tr>
            </thead>
            <tbody>
                {% for song in table_data["Songs"] %}
                <tr>
                    <td>{{ song }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>

</html>