{% extends 'base.html' %}
{%block content%}

<div class="d-flex justify-content-center fw-bold shadow p-3 mb-5 bg-body-tertiary rounded" id="Այբբենական Ցանկ">
  <div class="container-md text-center fs-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text h2">Այբուբենական Ցանկ (Ա-Ֆ)</p>
      </li>
    </ul>
    
    <p class="text fs-2">
      <a href="{{url_for('tsank_letter', letter='Ա')}}">Ա</a>
      <a href="{{url_for('tsank_letter', letter='Բ')}}">Բ</a>
      <a href="{{url_for('tsank_letter', letter='Գ')}}">Գ</a>
      <a href="{{url_for('tsank_letter', letter='Դ')}}">Դ</a>
      <a href="{{url_for('tsank_letter', letter='Ե')}}">Ե</a>
      <a href="{{url_for('tsank_letter', letter='Զ')}}">Զ</a>
      <a href="{{url_for('tsank_letter', letter='Է')}}">Է</a>
      <a href="{{url_for('tsank_letter', letter='Ը')}}">Ը</a>
      <a href="{{url_for('tsank_letter', letter='Թ')}}">Թ</a>
      <a href="{{url_for('tsank_letter', letter='Ժ')}}">Ժ</a>
      <a href="{{url_for('tsank_letter', letter='Ի')}}">Ի</a>
      <a href="{{url_for('tsank_letter', letter='Լ')}}">Լ</a>
      <a href="{{url_for('tsank_letter', letter='Խ')}}">Խ</a>
      <br>
      <a href="{{url_for('tsank_letter', letter='Ծ')}}">Ծ</a>
      <a href="{{url_for('tsank_letter', letter='Կ')}}">Կ</a>
      <a href="{{url_for('tsank_letter', letter='Հ')}}">Հ</a>
      <a href="{{url_for('tsank_letter', letter='Ձ')}}">Ձ</a>
      <a href="{{url_for('tsank_letter', letter='Ղ')}}">Ղ</a>
      <a href="{{url_for('tsank_letter', letter='Ճ')}}">Ճ</a>
      <a href="{{url_for('tsank_letter', letter='Մ')}}">Մ</a>
      <a href="{{url_for('tsank_letter', letter='Յ')}}">Յ</a>
      <a href="{{url_for('tsank_letter', letter='Ն')}}">Ն</a>
      <a href="{{url_for('tsank_letter', letter='Շ')}}">Շ</a>
      <a href="{{url_for('tsank_letter', letter='Ո')}}">Ո</a>
      <a href="{{url_for('tsank_letter', letter='Չ')}}">Չ</a>
      <a href="{{url_for('tsank_letter', letter='Պ')}}">Պ</a>
      <br>
      <a href="{{url_for('tsank_letter', letter='Ջ')}}">Ջ</a>
      <a href="{{url_for('tsank_letter', letter='Ս')}}">Ս</a>
      <a href="{{url_for('tsank_letter', letter='Վ')}}">Վ</a>
      <a href="{{url_for('tsank_letter', letter='Տ')}}">Տ</a>
      <a href="{{url_for('tsank_letter', letter='Ց')}}">Ց</a>
      <a href="{{url_for('tsank_letter', letter='Ու')}}">Ու</a>
      <a href="{{url_for('tsank_letter', letter='Փ')}}">Փ</a>
      <a href="{{url_for('tsank_letter', letter='Ք')}}">Ք</a>
      <a href="{{url_for('tsank_letter', letter='Եւ')}}">Եւ</a>
      <a href="{{url_for('tsank_letter', letter='Օ')}}">Օ</a>
    </p>
  </div>
</div>

{%endblock%}