{% extends 'base.html' %}
{% block extra_header%}
<meta property="og:site_name" content="MOSO Youth Lyrics">
<meta property="og:title" content="MOSO Youth Lyrics">
<title>MOSO Youth Lyrics </title>
{%endblock%}
{%block content%}
<!-- <br>
<h2 class="text-center">Youth Songs</h2>
<br> -->
<div class="card text-center">
  <div class="card-header" data-tab-id="0">
    <!-- <ul class="nav nav-tabs card-header-tabs gap-1">
      {% for root in roots %}
      <li class="nav-item">
        <a class="nav-link" href="/youth/{{root.split('/')[7]}}" data-tab-id="{{roots.index(root)}}"
          name={{root}}>{{root.split('/')[-1]}}</a>
      </li>
      {% endfor %}
    </ul> -->
    Youth Songs
  </div>
  <div class="shadow-lg rounded card-body">
    <!-- <h2 class="p-3 card-title" id="card-title">Ընտրեցեք:</h2> -->
    <form action="{{url_for('youth')}}" method="POST">
      <input name="dir" id="dir" style="display: none;">
      <div class="d-flex flex-column align-items-center gap-2 text-center mb-4 card-text">
        <div class="d-flex flex-column align-items-center gap-2" id="files"></div>
      </div>
    </form>
  </div>
</div>

<script>
  const content = {{os_files | safe}}; //Jinja 2: Supplied by server
  document.addEventListener('DOMContentLoaded', function(){
    // Fills in the first tab page
    const first_tab = document.querySelector('[data-tab-id="0"]');
    const name = 'C:/Users/moses/OneDrive/Youth Songs' //first_tab.getAttribute('name')
    // document.getElementById("dir").value = name
    content[name].forEach((n) =>{document.querySelector('.card-text').innerHTML += n})
    card_title = document.getElementById("card-title")

  })
</script>
{%endblock%}


